<!DOCTYPE HTML>
<html lang="ja">
    <head th:replace="fragments/default :: head"></head>

    <body>
        <div th:replace="fragments/default :: headerNav"></div>
        <div th:replace="fragments/default :: header"></div>

        <div th:replace="fragments/default :: left"></div>

        <div class="">
            <div class="">
            </div>
        </div>
        
        <div class="fl-west md-width-50per md-cover x-left-menu">
        </div>
        
        <div class="fl-east md-width-50per md-cover x-right-menu">
        </div>

        <div th:replace="fragments/default :: footer"></div>

        <div th:replace="fragments/default :: footerScript"></div>
    </body>
</html>
